<div>
	<div class="main-header">
		<div class="full-container">
			<mat-toolbar color="primary">
				<mat-toolbar-row class="container">
					<span>Vehicle Locator</span>
				</mat-toolbar-row>
			</mat-toolbar>
		</div>
	</div>

	<div class="main-tab-menu">
		<div class="container">
			<div class="cu-btn">
				<!-- <div class="secondary-btn" *ngIf="showRoutes">
					<button mat-raised-button routerLink="{{environment.locateVehicle}}" routerLinkActive="active">Locate Vehicle</button>
				</div>
				<div class="secondary-btn" *ngIf="showRoutes">
					<button mat-raised-button routerLink="{{environment.locateDealer}}" routerLinkActive="active">Locate Dealer</button>
				</div> -->
			</div>
		</div>
	</div>
</div>
