$font-sm: 14px;
$font-xs: 12px;

/* Background color */
$dodgerblue: #9ea8c1;
$lightsteelblue: #e5eaf7;
$deepskyblue: #cbd1e8;
$white: #ffffff;
$dimgray: #333333;
$darkblue: #134373;
$blue-2: #226d9a;
$footerbg: #1a6699;
$margin-16: 16px;
$error-red: #f44336;

.font-roboto-regular {
  font-family: 'Roboto';
  font-weight: 400;
}

.font-roboto-light {
  font-family: 'Roboto';
  font-weight: 300;
}

.font-roboto-medium {
  font-family: 'Roboto';
  font-weight: 500;
}


