.example-header {
  .mat-form-field {
    width: 100%;
  }
}
.want-dont-top {
  background: rgba(236, 236, 236, 0.5);
  margin-bottom: 10px;
  box-shadow: 0 0 2px #adadad;
}

.select-all-checkbox{
  padding: 10px 0;
}
